! Combined configuration for 48 IX Route Server {{ rs.name }} - {{ now }}
!
! All BGP Communities
{{ communities }}
! All BGP AS Path ACLs
{{ aspaths }}
! All BGP Configs
{{ bgp }}
! All IPv4 Prefix Lists
{{ prefixes4 }}
! All IPv6 Prefix Lists
{{ prefixes6 }}
!
