! {{ p.name }} (AS{{ p.asn }}) Route Maps - {{ now }}
!
! Outbound
route-map {{ p.asn }}-out deny 100
 match community 48ix-noexport-{{ p.asn }}
!
route-map {{ p.asn }}-out deny 105
 match extcommunity 48ix-noexport-{{ p.asn }}
!
route-map {{ p.asn }}-out deny 110
 match large-community 48ix-noexport-{{ p.asn }}
!
route-map {{ p.asn }}-out permit 200
 match community 48ix-exportonly-{{ p.asn }}
 on-match goto 400
!
route-map {{ p.asn }}-out permit 205
 match extcommunity 48ix-exportonly-{{ p.asn }}
 on-match goto 400
!
route-map {{ p.asn }}-out permit 210
 match large-community 48ix-exportonly-{{ p.asn }}
 on-match goto 400
!
route-map {{ p.asn }}-out deny 300
 match community 48ix-exportonly-any
!
route-map {{ p.asn }}-out deny 305
 match extcommunity 48ix-exportonly-any
!
route-map {{ p.asn }}-out deny 310
 match large-community 48ix-exportonly-any
!
route-map {{ p.asn }}-out permit 400
 match community 48ix-prepend1-{{ p.asn }}
 set as-path prepend last-as 1
 on-match goto 999
!
route-map {{ p.asn }}-out permit 405
 match extcommunity 48ix-prepend1-{{ p.asn }}
 set as-path prepend last-as 1
 on-match goto 999
!
route-map {{ p.asn }}-out permit 410
 match large-community 48ix-prepend1-{{ p.asn }}
 set as-path prepend last-as 1
 on-match goto 999
!
route-map {{ p.asn }}-out permit 415
 match community 48ix-prepend2-{{ p.asn }}
 set as-path prepend last-as 2
 on-match goto 999
!
route-map {{ p.asn }}-out permit 420
 match extcommunity 48ix-prepend2-{{ p.asn }}
 set as-path prepend last-as 2
 on-match goto 999
!
route-map {{ p.asn }}-out permit 430
 match large-community 48ix-prepend2-{{ p.asn }}
 set as-path prepend last-as 2
 on-match goto 999
!
route-map {{ p.asn }}-out permit 440
 match community 48ix-prepend3-{{ p.asn }}
 set as-path prepend last-as 3
 on-match goto 999
!
route-map {{ p.asn }}-out permit 450
 match extcommunity 48ix-prepend3-{{ p.asn }}
 set as-path prepend last-as 3
 on-match goto 999
!
route-map {{ p.asn }}-out permit 460
 match large-community 48ix-prepend3-{{ p.asn }}
 set as-path prepend last-as 3
 on-match goto 999
!
route-map {{ p.asn }}-out permit 999
 match community 48ix-all
!
! Inbound
route-map {{ p.asn }}-in deny 100
 match rpki invalid
!
route-map {{ p.asn }}-in deny 105
 match as-path bogonans
!
route-map {{ p.asn }}-in deny 110
 match ip address prefix-list bogons4
!
route-map {{ p.asn }}-in deny 115
 match ipv6 address prefix-list bogons6
!
route-map {{ p.asn }}-in permit 200
 match ip address prefix-list ipv4-{{ p.asn }}
 match ip next-hop prefix-list ipv4-{{ p.asn }}-nexthop
 set comm-list 48ix-denied-communities delete
 set large-comm-list 48ix-denied-large-communities delete
 on-match goto 991
!
{# Because FRR doesn't support IPv6 next-hop matching based on prefix list, iterate
through IPv6 addresses and generate a route-map statement for each address. #}
{% for addr in p.ipv6 %}
route-map {{ p.asn }}-in permit {{ 200 + (5 * loop.index ) }}
 match ipv6 address prefix-list ipv6-{{ p.asn }}
 match ipv6 next-hop {{ addr }}
 set comm-list 48ix-denied-communities delete
 set large-comm-list 48ix-denied-large-communities delete
 on-match goto 991
{% endfor %}
!
route-map {{ p.asn }}-in deny 299
!
route-map {{ p.asn }}-in permit 991
 set metric 0
 set community 62484:0 additive
 set large-community 62484:64810:{{ rs }} 62484:64820:{{ loc }} 62484:64830:{{ metro }} 62484:64840:{{ p.id }} 62484:62484:{{ p.asn }} additive
 set local-preference 200
!
!