! 48 IX Participant IPv4 Prefix List
!
{% for prefix in prefixes %}
{% if prefix.prefixlen < max_len %}
ip prefix-list ipv4-{{ asn }} permit {{ prefix }} le {{ max_len }}
{% else %}
ip prefix-list ipv4-{{ asn }} permit {{ prefix }}
{% endif %}
{% endfor %}
!