! 48 IX IPv4 Prefix List for {{ p.name }} (AS{{ p.asn }})
!
{% for prefix in prefixes %}
{% if prefix.prefixlen < max_len %}
ip prefix-list ipv4-{{ p.asn }} permit {{ prefix }} le {{ max_len }}
{% else %}
ip prefix-list ipv4-{{ p.asn }} permit {{ prefix }}
{% endif %}
{% endfor %}
!